.imagen
{
  max-height: 50%;
}
.miniaturasControl{
  aspect-ratio: 5/3 !important;
  align-content: center;
  justify-content: center;
  box-sizing: border-box;
  max-height: 100%;
}
.miniaturasControl img{
  display: block;
  margin:0 auto;
  padding: 0;
  /* aspect-ratio: 4/3 !important; */
  /* max-width: 5em; */
  max-height: inherit;
  width: auto;
  /* max-height: 100%; */
  object-fit: cover;
  align-self: center;
}
